
.highlight  {
    width: 600px;
    color: white;
    /* background: rgba(0, 0, 0, 0.26); */
    border-radius: 10px;
    padding: 3%;
    
	}
    
.highlight img {
    
    float: left;
    width: 100px;
    height: 100px; 
    margin: 10px;
    }
    
.highlight ul {
    list-style-image: url('http://icons.iconarchive.com/icons/yusuke-kamiyamane/fugue/16/tick-small-icon.png');
    margin-left: 1%;
    float: left; 
    clear: right
    }
    
.highlight button {
   margin-left: 1%;
    float: right;
    }

/* .highlight h1,h2,h3,h4,h5,h6 {
    padding-bottom: 2%;
  border-bottom: 2px dashed rgba(255, 255, 255, 0.41);
    font-size:20px;
    text-align : center;
    text-transform: uppercase;
    }
     */
.highlight p {
    text-align: justify;
    }
.modal-lg
{
    width : 1000px;
    margin-top: 40px;
}


* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
}h1 {
  text-align: center;
}



table {
  width: 100%;
}

td,
th {
  text-align: center;
  border: solid 1px #ccc;
  font-size: 22px;
  padding: 6px;
  word-wrap: break-word;
}

td {
  color: red;
  font-weight: bold;
}

.check {
  color: limegreen;
  font-size: 30px;
}

th:first-child,
td:first-child {
  font-weight: bold;
  color: black;
}

@media screen and (max-width: 768px) {
  .check {
    color: limegreen;
    font-size: 20px;
  }
  tr {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  td,
  th {
    display: block;
    width: 33.333333333333%;
    font-size: 16px;
  }
  th:first-child,
  td:first-child {
    background: #efefef;
    width: 100%;
  }
  th:first-child {
    display: none;
  }
}

.p {
  text-align: center;
  font-size: 13px;
  padding-top: 100px;
}