.carousel {
    overflow: hidden;
    width: 100%;
}

.slides {
    list-style: none;
    position: relative;
    width: 500%;
    /* Number of panes * 100% */
    overflow: hidden;
    /* Clear floats */
    /* Slide effect Animations*/
    -moz-animation: carousel 30s infinite;
    -webkit-animation: carousel 30s infinite;
    animation: carousel 30s infinite;
}

    .slides > li {
        position: relative;
        float: left;
        width: 20%; /* 100 / number of panes */
    }

.carousel img {
    /*display:block;*/
    /*width:100%;*/
    max-width: 100%;
}

.carousel h2 {
    margin-bottom: 0;
    font-size: 1em;
    padding: 1.5em 0.5em 1.5em 0.5em;
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,0.75);
    text-transform: uppercase;
}

@keyframes carousel {
    0% {
        left: 10%;
    }

    10% {
        left: -5%;
    }

    12.5% {
        left: -110%;
    }

    23.5% {
        left: -100%;
    }

    25% {
        left: -200%;
    }

    36% {
        left: -210%;
    }

    37.5% {
        left: -300%;
    }

    48.5% {
        left: -310%;
    }

    50% {
        left: -400%;
    }

    61% {
        left: -410%;
    }

    62.5% {
        left: -310%;
    }

    73.5% {
        left: -300%;
    }

    75% {
        left: -210%;
    }

    86% {
        left: -200%;
    }

    87.5% {
        left: -110%;
    }

    98.5% {
        left: -100%;
    }

    100% {
        left: 5%;
    }
}
